Repository ango12138/pytorch_geometric, changes with the owners that CODEOWNERS names for each.
All owners: @rusty1s, @wsad1, @EdisonLeeeee, @RBendias, @dufourc1, @mananshah99, @JiaxuanYou

Addition of a parameter for selecting nodes to include in the HeteroData.
  test/utils/test_convert.py
  torch_geometric/utils/convert.py
Owners: @wsad1

New feature: Conversion from a networkX heterogeneous graph into a HeteroData object.
  CHANGELOG.md
  test/utils/test_convert.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/convert.py
Owners: @wsad1

Documentation & Test improvment. Addition of a parameter for graph attribute selection.
  test/utils/test_convert.py
  torch_geometric/utils/convert.py
Owners: @wsad1

Review: Improved variable naming, docstring and addition of a test on attribute types.
  test/utils/test_convert.py
  torch_geometric/utils/convert.py
Owners: @wsad1

Addition of a parameter to select node & edge attributes.
  test/utils/test_convert.py
  torch_geometric/utils/convert.py
Owners: @wsad1

HeteroData dictionaries do not include the node or edge type attribute.
  test/utils/test_convert.py
  torch_geometric/utils/convert.py
Owners: @wsad1

Implemenation of Batch.{from_batch_list,from_batch_index,add_graph_attr,set_edge_attr,set_edges} #8414
  CHANGELOG.md
  test/data/test_batch.py
  test/data/test_batch_manipulation.py
  torch_geometric/data/batch.py
  torch_geometric/data/in_memory_dataset.py
  torch_geometric/data/separate.py
  torch_geometric/data/storage.py
Owners: @wsad1, @mananshah99

Add working Captum explanation for HANConv
  torch_geometric/explain/algorithm/utils.py
  torch_geometric/nn/conv/han_conv.py
  torch_geometric/nn/conv/hgt_conv.py
  torch_geometric/nn/conv/message_passing.py
Owners: @RBendias, @dufourc1, @EdisonLeeeee

Improve heterogeneous edge key handling
  torch_geometric/explain/algorithm/utils.py
  torch_geometric/nn/conv/han_conv.py
  torch_geometric/nn/conv/hgt_conv.py
Owners: @RBendias, @dufourc1, @EdisonLeeeee

Refactor and implement HGTConv explain
  torch_geometric/nn/conv/han_conv.py
  torch_geometric/nn/conv/hgt_conv.py
Owners: @EdisonLeeeee

Add tests for Captum HAN and HGT support
  test/explain/algorithm/test_captum_explainer_heterogeneous.py
Owners: @wsad1

Cleanup code and add changelog line
  CHANGELOG.md
  torch_geometric/explain/algorithm/utils.py
  torch_geometric/nn/conv/han_conv.py
Owners: @RBendias, @dufourc1, @EdisonLeeeee

CODEOWNERS:

# About code owners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Code owners recieve review requests when parts of code they "own" change.

*.py @rusty1s @wsad1

/torch_geometric/nn/ @EdisonLeeeee

/torch_geometric/explain/ @RBendias @dufourc1

/torch_geometric/data/ @mananshah99

/torch_geometric/loader/ @mananshah99

/torch_geometric/sampler/ @rusty1s

/torch_geometric/transforms/ @wsad1

/torch_geometric/utils/ @wsad1

/torch_geometric/datasets/ @wsad1

/test @wsad1

/docs @rusty1s

/graphgym @JiaxuanYou @rusty1s

/examples @wsad1
